
.sc-fzoLsD.BsXlQ.rec.rec-carousel-wrapper{
margin-top: 10%
} 
.sc-AxgMl.grkQCO.rec.rec-arrow.rec.rec-arrow-left{
display: none;
}
.sc-AxgMl.hGAoQk.rec.rec-arrow.rec.rec-arrow-left{
display: none;
}
.sc-AxgMl.hGAoQk.rec.rec-arrow.rec.rec-arrow-right{
display: none;
}
.sc-fzpans.gVDAKO.rec.rec-dot.rec.rec-dot_active{
box-shadow: 0 0 1px 3px #C4C4C4;
background-color: #C4C4C4;
}
.sc-AxgMl.grkQCO.rec.rec-arrow.rec.rec-arrow-right{
display: none;
}
.sc-fzpans.eIDQgh.rec.rec-dot{
box-shadow: 0 0 1px 2px #DDDDDD;
background-color: #DDDDDD;
}
