$Charcoal: #333333;
$White: #ffffff;
$Babu: #00A699;
$Orange: #FD7A53;
$Yellow: #FFE74C;
$Black: #000000;
$Gray: #828282;

$Background: #E8F3F1;

label {
    padding-left: 5px;
}

.input {
    position: relative;
    display: flex;
    margin: 5px;
    flex-direction: column;
    width: 327px;
    left: 50%;
    transform: translate(-50%, 0);
    input {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        border: 0px;
        background-color: $Background;
        border-radius: 44px;
        width: 226.09px;
        height: 39px;
        padding: 0px;
        padding-left: 24px;
        padding-right: 76.93px;

        outline: none;
    }
    .searchIcon {
        background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
        border-radius: 44px;
        width: 66.91px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        img {
            fill: white;
            width: 27.51px;
            height: 26px;
        }
    }

}

.select {
    .fas {
        position: absolute;
        font-size: 30px;
        top: 42px;
        transform: translate(-50%, -50%);
        right: 0px;
        color: $Gray;
        cursor: pointer;
    }
    .scroll {
        border-top: 0px;
        max-height: 189px;
        width: 327px;
        position: absolute;
        top: 48px;
        z-index: 1;
        display: block;
        border-radius: 20px;
        overflow: auto;
        background-color: $Background;
        hr {
            width: 222px;
        }
        div {
            display: flex;
            align-items: center;
            background-color: $Background;
            height: 2.5em;
            position: relative;
            .optionSelected {
                display: inline-block;
                position: absolute;
                height: 35px;
                width: 5px;
            }
            &:hover .optionSelected, &:focus .optionSelected {
                background-color: $Orange;
            }
            div.img {
                padding-left: 18px;
                padding-right: 18px;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-align: center;

                color: #272727;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}