/* margen entre 14 y 16 */

.footer-container{
	position: absolute;
    bottom: 0px;
    z-index: 9999
}
.slider{
width: 197px;
height: 177.72px;
left: 46px;
top: 479.25px;
background: #FAFAFA;
box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
border-radius: 6px;
margin: 14px;
}
.h1Slider{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	    margin-left: 0.5em;
}
 .pCategorySlider{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
margin-left: 5%;
 }   
.pSliderOccupation{
    margin-top: -5%;
    margin-left: 20%;
    font-size: 86%; 
    }

.imageSlider{
	width: 187px;
    height: 86.29px;
    padding: 2%;
}
.storeOcupation{
    margin-right: 5%;
}
.esDRug, .sc-AxhCb {
    width: 100%;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}