.footer-container{
	position: absolute;
    bottom: 0px;
    z-index: 9999
}
.slider{
/* width: 197px; */
width: 286px;
height: 177.72px;
left: 46px;
top: 479.25px;
background: #FAFAFA;
box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
border-radius: 6px;
margin: 14px;
}
.h1Slider{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
margin-left: 10px;
height: 33px;
overflow: hidden;
margin-right: 10px;
margin-top: 5px;
}
 .pCategorySlider{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
margin-left: 10px;
margin-top: 0px;
 }   
.pSliderOccupation{
    margin-left: 10px;
    font-size: 86%; 
    margin-top: 0px;
    }

.imageSlider{
	width: 100%;
    height: auto;
}

.slider .imageContainer {
    width: CALC(100% - 20px);
    height: 86.29px;
    padding: 10px;
    overflow: hidden;
}

.storeOcupation{
    margin-right: 5%;
}
.esDRug, .sc-AxhCb {
    width: 100%;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.occupationMarker {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.occupationMarker.green {
    background-color: #95EF8E;
}

.occupationMarker.yellow {
    background-color: #E2A530;
}

.occupationMarker.red {
    background-color: #E23070;
}

.occupationContainer {
    display: flex;
    margin-left: 10px;
}