section.CategoryList div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 800px;
}

section.CategoryList {
    overflow-x: auto;
    width: 100vw;
}

section ::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
} 
