.onBoardingContainer{
background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
max-width: 414px;
max-height: 736px;
}
.one{
    text-align: center;
  	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    margin-top: 36%;
    width: 80%;
    font-size: 139%;
    text-align: start;
    font-family: 'Roboto';
    font-weight: 400;  
}
.two{
    text-align: center;
  	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    margin-top:42%;
    width: 80%;
    font-size: 139%;
    text-align: start;
    font-family: 'Roboto';
    font-weight: 400;  
}
.three{
    text-align: center;
  	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    margin-top: 48%;
    width: 80%;
    font-size: 139%;
    text-align: start;
    font-family: 'Roboto';
    font-weight: 400; 
}
.four{
    text-align: center;
  	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    margin-top: 54%;
    width: 80%;
    font-size: 139%;
    text-align: start;
    font-family: 'Roboto';
    font-weight: 400;  
}
.five{
    text-align: center;
  	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    margin-top: 67%;
    width: 80%;
    font-size: 139%;
    text-align: start;
    font-family: 'Roboto';
    font-weight: 400;   
}
.btnStart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 19px;
    position: absolute;
    left: 8%;
    top: 83%;
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    border-radius: 55px;
    width: 85%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    text-align: -webkit-center;
    /* display: inline-block; */
    border-color: transparent;
}
.btnNext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 19px;
    position: absolute;
    left: 49.7%;
    right: 9.4%;
    top: 86%;
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    border-radius: 32px;
    width: 173.5px;
    height: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #272727;
    text-align: -webkit-center;
    /* display: inline-block; */
    border-color: transparent;
}
.btnBack{
/* display: flex;
flex-direction: column; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 19px 19px;
position: absolute;
left: 37px;
top: 86%;
background: transparent;
border-radius: 32px;
width: 173.5px;
height: 4px;
text-align: center;
font-family: Roboto;
font-style: normal;
font-size: 18px;
text-align: -webkit-center;
/* display: inline-block; */
border-color: transparent;
}

.hOb{
	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    margin-left: 34.5%;
    margin-top: 115px;
    width: 68%;
    font-size: 28px;
    font-family: 'Monda';
    font-weight: 700;
    line-height: 1.4
}
.pOb{
	display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    margin-top: 50%;
    width: 80%;
    font-size: 139%;
    text-align: start;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 130%;
}
a{
    position: absolute;
  font-family: 'Roboto';
  text-decoration: none;  
  color: #272727;
  margin-left: 79%;
margin-top:9%;
}
a:hover{
    color: white;
}
.obTitle{
    position: absolute;
    margin-top: -11%;
    margin-left: 7%;
    font-family: 'Monda';
    font-weight: 700;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.2)
}
.backapp{
    width: 100%;
    max-width: 414px;
    max-height: 736px;
    padding: 0%;
    height: auto;
}
/* --- --- --- LOG & SIGNUP --- --- ---  */
#rectangle{
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    height: 15%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
}
/* --- --- --- PROFILE --- --- ---  */
.iconArrowProfile{
    /* display: flex;
    flex-direction: row;
	width: 10%;
	margin-top: 15%;
    margin-left: 15%; */
    position: absolute;
    font-family: 'Roboto';
    text-decoration: none;
    color: #272727;
    /* margin-left: 79%; */
    width: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    margin-top: -1%;
     height: auto;
}
.arrowBack{
    position: inherit;
    margin-top: 18%;
    margin-left: 2%;
    display: flex;
     height: auto;
}

#rectangle2{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    height: 15%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	margin-top: 18%; 
}
.btnProfile{
	border-style: none;
	border-color: transparent;
	border-image: none;
    background: transparent;
    	width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;

} 
.profileTitle{
	font-family: 'Roboto';
	margin-left: 23%;
	font-size: 193%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.profileTitleName{
  	font-family: 'Roboto';
	margin-left: 23%;
	font-size: 170%;
	margin-top: 0%  
}
.profileText{
    font-size: 130% ;
    text-decoration: none; 
    padding-bottom: 6%; 
    margin-left: 0%;
    margin: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.profileTextContainer{
	font-family: 'Roboto';
    margin-left: 28%;
    max-width: 414px;
    max-height: 736px;
    margin-top: 10%; 
}
.btnClose{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 19px;
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    border-radius: 32px;
    width: 173.5px;
    height: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #272727;
    text-align: -webkit-center;
    border-color: transparent;
}
.close{
    margin: 2.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* --- --- --- QR --- --- ---  */
.qrTitle{
   	font-family: 'Monda';
	margin-left: 23%;
    font-size: 193%;
    margin-top: 15%; 
    margin-bottom: 25%;
}
.qrCode{
    display: flex;
    flex-direction: column;
    width: 73%;
    align-items: center;
     margin-left: 13%;
    margin-bottom: 4%;
}
.qrCodeImg{
    height: auto;
}
.qrText{
    margin: 2%;
    font-family: Roboto;
    font-size: 160%;
    line-height: 115%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
#profileLogo{
	width: 135%;
}
.iconArrowQR{
     display: flex;
    flex-direction: row;
    width: 10%;
    margin-top: 1%;
    margin-left: 15%;
}
.iconArrow2{
    width: 100%;
    height: auto;
}
/* --- --- --- POINTS --- --- ---  */
#points{
    margin: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: 24%;
    height: auto;
}
.pointsEarned{
font-family: 'Roboto';
font-size: 245%;
text-align: center;
}
.pointsText{
    margin: 10%;
    font-family: 'Roboto';
    font-size: 150%;
    display: flex;
    flex-flow: column;
    justify-self: center;
    text-align: center;
    line-height: 130%;
}
.pointsText2{
font-family: 'Roboto';
text-align: center;
}
.sumAndClose{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 19px;
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    border-radius: 32px;
    width: 365px;
    height: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #272727;
    text-align: -webkit-center;
    border-color: transparent;
    margin: 5%; 
}
/* --- --- --- ERROR 404 --- --- ---  */
.errorContainer{
    display: flex;
    flex-direction: column;;
}
.errorImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorNumber{
    color:#53C9B4 ;
    margin-left: 0;
    margin: 0px;
    text-align: center;
    font-family: monda;
    font-size: 7em;
}
.errorText{
    color: #53C9B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xxx-large
}
.btnError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 19px;
    background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);
    border-radius: 32px;
    width: 365px;
    height: 4px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #272727;
    text-align: -webkit-center;
    border-color: transparent;
    margin: 5%;
}