.leaflet-container {
position: absolute;
  width: 100%;
  height: 100vh;
/* display: none; */
}
.leaflet-routing-container.leaflet-bar.leaflet-control{
  display: none ;
  background-color: whitesmoke;
}

.leaflet-routing-container.leaflet-bar.leaflet-control.leaflet-routing-container-hide {
  display: none;
} 
.leaflet-container.leaflet-touch.leaflet-retina.leaflet-safari.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom{
      max-width: 414px;
      /* NOTE:change if necessary max 736px */
    max-height: 653px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.colorContainer {
  background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -9999999;
}

.arrowContainer {
  height: 83px;
  background: linear-gradient(270deg, #00B3BD -13.71%, #53C9B4 50%);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.arrowContainer .arrowBack {
  margin-top: 0px;
}

.arrowContainer .arrowBack img {
  width: 33px;
}